body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.intro {
  background-color: cyan;
  border: 5px solid darkgrey;
  font-size: 20px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0%;
  text-align: center;
  display: block;
}

.intro1 {
  background-color: cyan;
  border: 5px solid darkgrey;
  font-size: 20px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0%;
  text-align: center;
  display: block;
  animation-name: Flickr;
  animation-duration: 1s;
}
@keyframes Flickr {
  0%{background-color: cyan;}
  50%{background-color: aquamarine;}
  100%{background-color: cadetblue;}
}


.grid-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  }

.grid-item {
  width: 30%;
  background-color:cadetblue;
  /*padding: 5px;*/
  align-items: center;
  display: block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5%;
}

.largeContainer {
  background-color:lightblue ;
  margin-top: 0;
  margin-bottom: 0;
  display:flex;
  flex-direction: column;
  border: 5px solid darkslategray;
}

.table {
  display: table;
  align-items: center;
  font-weight: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  }

table{
    width: 70%;
  }


.header2 {
  text-align: center;
}

.nav {
  border: 5px solid cadetblue;
  background-color:darkcyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 15px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

.footer {
  border: 5px solid dimgray;
  background-color:lightslategray;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}